<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.board.mapper.BoardMapper">

	<select id="getList" resultType="kr.board.entity.Board">
		SELECT * FROM tblBoard order by boardGroup desc
	</select>
	
	<insert id="insert" parameterType="kr.board.entity.Board">
		INSERT INTO tblBoard (idx, memID, title, content, writer, boardGroup, boardSequence, boardLevel, boardAvailable)
			SELECT IFNULL(MAX(idx) + 1, 1), #{memID}, #{title}, #{content}, #{writer}, 
			IFNULL(MAX(boardGroup) + 1, 0), 0, 0, 1
		FROM tblBoard
	</insert>
	
	<insert id="insertSelectKey" parameterType="kr.board.entity.Board">
    	<selectKey keyProperty="idx,boardGroup" resultType="kr.board.entity.Board" order="BEFORE">
        	SELECT IFNULL(max(idx)+1, 1) as idx, 
        		   IFNULL(max(boardGroup)+1, 0) as boardGroup
        	FROM tblBoard      
    	</selectKey>
    	     
		INSERT INTO 
			tblBoard(idx,memID,title,content,writer,boardGroup,boardSequence,boardLevel,boardAvailable)
		VALUES(#{idx},#{memID},#{title},#{content},#{writer},#{boardGroup},0,0,1)	     
	</insert>
	
	
	<select id="login" parameterType="kr.board.entity.Member" resultType="kr.board.entity.Member">
		SELECT * FROM tblMember WHERE memID = #{memID} and memPwd = #{memPwd}
	</select>
	
	<select id="read" resultType="kr.board.entity.Board">
		SELECT * FROM tblBoard WHERE idx = #{idx}
	</select>

<!-- 	
	
	<select id="boardContent" resultType="kr.board.entity.Board">
		select * from myboard where idx = #{idx}
	</select>
	
	<delete id="boardDelete" parameterType="int">
		delete from myboard where idx = #{idx}
	</delete>
	
	<update id="boardUpdate" parameterType="kr.board.entity.Board">
		update myboard set title=#{title}, content=#{content}
		where idx=#{idx}
	</update> -->
</mapper>